@import '../../var.scss';

.list{
  $self: &;
  margin-bottom: 30px;

  &__remove{
    border: none;
    background: none;
    margin-left: 3px;
    cursor: pointer;
    transition: $transition;
    opacity: 0;
    padding: 0 5px;
  }

  &__add-button{
      color: $dark;
      svg{
          path{
              stroke: $dark;
          }
      }
      opacity: .4;
      transition: transition;

      &:hover{
          opacity: 1;
      }
  }

  li{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: $transition;

    .text{
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 100px;
    }
    .signature{
      color: $icon_gray;
    }

    &:hover{
      background-color: $white;
      border-radius: $br;    
      
      #{$self}__remove{
        opacity: .3;
        &:hover{
          opacity: 0.8;
        }
      }
    }
    

    &.active{
      background-color: $white;
      box-shadow: $sidebar_item_shadow;
      border-radius: $br;

    }

    i{
      display: inline-flex;
      margin-right: 8px;
      
      svg{
        path{
          fill: $icon_gray;
        }
      }
    }
  }
}