:root{
    --aqua_haze: #f4f8f8;
    --seashell: #f1f1f1;
    --boulder: #7c7c7c;
    --white: rgb(255, 255, 255);
    // --black: 0, 0, 0;
    // --alpha: 0.5;
    --shadow: rgba(0, 0, 0, 0.04);
    --dark: rgb(26, 25, 25);
    --shamrock: #4dd599;
    --shamrock-dark: #36bb81;
    --shadow50: rgba(0, 0, 0, 0.5);
    --skyBlue: #64C4ED;
    --grey: #C9D1D3;
    --mercury: #e8e8e8;
}

//colors
$lightgray: var(--aqua_haze);
$border_color: var(--seashell);
$icon_gray: var(--boulder);
$white: var(--white);
$black: var(--black);
$dark: var(--dark);
$primary: var(--shamrock);
$primary-hover: var(--shamrock-dark);
$shadow: var(--shadow50);
$blue: var(--skyBlue);
$grey: var(--grey);
$checkbox_disable: var(--mercury);


//font
$font_roboto: 'Roboto', sans-serif;
$font_size_default: 14px;
$font_montserrat: 'Montserrat', sans-serif;

//sizes
$width_sidebar: 15%;
$min_width_sidebar: 200px;
$font_h2: 32px;
$line_height: 140%;

//shadows
$sidebar_item_shadow: 0px 2px 10px var(--shadow);

//border  radius
$br: 4px;
$br_b:  10px;

$transition: .2s  ease-in-out;